.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin-top: 50px;
  gap: 25px;
}

.product {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-name {
  color: #263141;
  font-size: 16px;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
}

.product-image {
  max-width: 100%;
}