*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 19px;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

:root {
  padding: 0 10px;
}